<!DOCTYPE html>
<html>
<head> 
    <title>Realtime Markdown Viewer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
     <link href="style.css" rel="stylesheet">
</head>

<body class="container-fluid">
<div class="header">
		<i id="sidebar"></i>
		<div class="Title">Online Markdown Editor</div>
		<button type="button" name="button1" id="new">New document</button>
	</div>
	<div class="sidebar">
		<div class="content" id="pages">
		</div>
	</div>
 <section class="row">
        <textarea class="col-md-6 full-height" id="pad">#Online Markdown Editor</textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
