html, body, section, .full-height {
		height: 100%;
} 
.header {
		height: 48px;
		width: 100%;
		background-color: #9bceff;
	}
.sidebar {
		width: 240px;
		background-color: #22313F;
		color: #FFFFFF;
		left:-270px;
		border-top: 0px solid #868E96;
		top: 48px;
	}
#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 48px;
}

#markdown {
    overflow: auto;
    margin-top: 48px;
    border-left: 1px solid black;
}
