html, body, section, .full-height {
		height: 100%;
} 
.header {
		height: 48px;
		width: auto;
		background-color: #9bceff;
	}

.button1{
	float:right;
	text-align: center;
color: #A52A2A;
background-color: #F5F5DC;
border-style: outset;
border-color: #FFDEAD;
border-width: 2px;
font-size: 2vw;
font-style: italic;
}
.Title {
		margin-left: 25px;
		font-size: 18px;
		color: #333333;
		width: 20%;
	}
#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 4px;
}

#markdown {
    overflow: auto;
    margin-top: 4px;
    border-left: 1px solid black;
}
